<% content_for :head do %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" %>
  <%= javascript_include_tag @highcharts_js_path %>
<% end %>

<h1>Class : <%= @klass %></h1>

<% @charts.each_with_index do | chart, index | %>
  <%= high_chart("my_id#{index}", chart) %>
<% end %>
